@font-face {
    font-family: DDIN;
    src: url('https://www.darrenxu.org/fonts/D-DIN.otf');
}
    
@font-face {
    font-family: DDIN-bold;
    font-weight: bold;
    src: url('https://www.darrenxu.org/fonts/D-DIN-Bold.otf');
}
    
@font-face {
    font-family: DDIN-light;
    font-weight: lighter;
    src: url('https://www.darrenxu.org/fonts/D-DINCondensed.otf');
}  
  
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    flex-direction: column;
}

.heading-container {
    margin-bottom: 35px;
    text-align: center;
    color: white;
}

.roles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.role-container {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid grey;
    width: 500px;
}

.logo img {
    width: 150px;
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
}

.text-box {
    margin-left: 20px;
}

.text-box p {
    margin: 5px 0;
    color: white;
}

.role-title {
    font-weight: bold;
    font-size: 14px;
}

.company-name, .tenure {
    font-size: 11px;
}

.employment-type {
    font-size: 11px;
    font-style: italic;
}