@font-face { font-family: DDIN; src: url('https://www.darrenxu.org/fonts/D-DIN.otf'); } 
@font-face { font-family: DDIN-bold; font-weight: bold; src: url('https://www.darrenxu.org/fonts/D-DIN-Bold.otf');}
@font-face { font-family: DDIN-light; font-weight: lighter; src: url('https://www.darrenxu.org/fonts/D-DINCondensed.otf');}

html { 

    background: black;

}


h1 {

    font-family: DDIN-bold;
    color: white;
    font-size: 60px;
    margin-bottom: 7%;
    text-align: center;
    margin-top: 7.5%;

}

h2 {

    font-family: DDIN;
    color: white;
    font-size: 20.5px;
    text-align: center;

}

ul {

    font-family: DDIN;
    color: white;
    font-size: 17.5px;
    text-align: left;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 2.5%;
    margin-bottom: 7.5%;
}

img {

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    margin-bottom: 2.5%;

}